@model BeatSorter.ViewModels.BeatmapListViewModel
@using BeatSorter.Util.View
@{
    ViewData["Title"] = "List";
}

<div class="row">
    @if (Model.PageAmount > 1)
    {
        <div class="col-12">
            <ul class="pagination">
                @if (Model.Page > 0)
                {
                    <li class="page-item"><a href="@Url.Current(new { page = Model.Page - 1 })" class="page-link">&lt;</a></li>
                }
                @{
                    for (
                       int i = Model.PaginationStart;
                       i < Model.PaginationEnd;
                       i++)
                    {
                        <li class="page-item@(i == Model.Page ? " font-weight-bold" : "")"><a href="@Url.Current(new { page = i })" class="page-link">@(i + 1)</a></li>
                    }
                }
                @if (Model.Page + 1 < Model.PageAmount)
                {
                    <li class="page-item"><a href="@Url.Current(new { page = Model.Page + 1 })" class="page-link">&gt;</a></li>
                }
            </ul>
        </div>
    }

    <div class="col-md-9 col-md-12 col-lg-9">
        @foreach (var beatmap in Model.Beatmaps)
        {
            @await Html.PartialAsync("_BeatmapView", beatmap);
        }

        @if (Model.Beatmaps.Count == 0)
        {
            <h2>No beatmaps matched the filter</h2>
        }
    </div>

    <div class="col-md-3 d-none d-lg-block">
        <div class="border w-100 card mb-4 bg-light box-shadow">
            <div class="card-body">
                <form method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Song Title" name="songTitle" value="@Context.Request.Query["songTitle"]">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Artist Name" name="songAuthor" value="@Context.Request.Query["songAuthor"]">
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-labeled btn-secondary w-100">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    @if (Model.PageAmount > 1)
    {
        <div class="col-12">
            <ul class="pagination">
                @if (Model.Page > 0)
                {
                    <li class="page-item"><a href="@Url.Current(new { page = Model.Page - 1 })" class="page-link">&lt;</a></li>
                }
                @{
                    for (
                       int i = Model.PaginationStart;
                       i < Model.PaginationEnd;
                       i++)
                    {
                        <li class="page-item@(i == Model.Page ? " font-weight-bold" : "")"><a href="@Url.Current(new { page = i })" class="page-link">@(i + 1)</a></li>
                    }
                }
                @if (Model.Page + 1 < Model.PageAmount)
                {
                    <li class="page-item"><a href="@Url.Current(new { page = Model.Page + 1 })" class="page-link">&gt;</a></li>
                }
            </ul>
        </div>
    }
</div>


